@model Basket.Add.Models.ProductDetailList

@{
    ViewData["Title"] = "Sepet detay";
}
<h1>@ViewData["Title"]</h1>

<div class="container">
    <div class="card-deck">
        @foreach(var mp in Model.productDetails)
            {
        <div class="row">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">@mp.id</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">@mp.price <small class="text-muted">/ TRY</small></h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>10 users included</li>
                        <li>2 GB of storage</li>
                        <li>Email support</li>
                        <li>Help center access</li>
                    </ul>
                    <button type="button" class="btn btn-outline-danger btn-sm btn-block btn-outline-primary delete-basket-item" basketId="@mp.id">Sepetten Çıkar</button>
                </div>
            </div>
        </div>
            }
        

    </div>

  
</div>